<div data-notified-users>
  <% [:to, :cc, :bcc].each do |delivery_type| %>
    <div class="row collapse mbl">
      <div class="medium-3 columns">
        <label><%= delivery_type == :to ? t(:notifications) : '' %>&nbsp;</label>
      </div>
      <div class="medium-1 columns">
        <label><%= "#{t('activerecord.attributes.reply.' + delivery_type.to_s)}:" %></label>
      </div>
      <div class="medium-8 columns">
        <% if r.object.internal? %>
          <%= r.collection_select "notified_users_via_#{delivery_type}_ids", User.agents.ordered, :id, :email, { label: false }, { multiple: true, class: 'select2' } %>
        <% else %>
          <%= r.collection_select "notified_users_via_#{delivery_type}_ids", User.ordered, :id, :email, { label: false }, { multiple: true, class: 'select2' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>